
.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img {
    max-width: 350px;
  }
  .data {
    max-width: 35%;
  }
}

.repo-list {
  display: block;
  max-height: 450px;
  overflow-y: auto;
  .name-header {
    cursor: pointer;
    user-select: none;
  }
}
