@import "loading_icon";
.profile-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  @media (min-width: 500px) {
    flex-direction: row;
  }
  @media (min-width: 640px) {
    flex-direction: column;
  }
  @media (min-width: 930px) {
    flex-direction: row;
  }
  img {
    max-width: 150px;
  }
}

.repo-list {
  display: block;
  max-height: 450px;
  overflow-y: auto;
  .name-header {
    cursor: pointer;
    user-select: none;
  }
}

.error-message {
  background-color: #feecf0;
  color: #cc0f35;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}
